input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
input:focus {
    outline: none;
}
label {
    display: block;
    text-align: left;
    margin: 8px auto;
}
button {
    padding: 10px 20px;
    outline: none;
    border: none;
    margin: 10px auto;
    box-shadow: 2px 0px 3px 0px grey;
}