nav {
    width: 100%;
    height: 80px;
    box-shadow: 2px 2px 20px 2px #cccbbc;
}
nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 75px;
    text-align: right;
}
nav ul li {
    display: inline-block;
    margin: 0 auto;
    line-height: 1.5;
    vertical-align: middle;
}
nav ul li a {
    text-decoration: none;
    color: black;
    padding: 20px;
}
nav ul li a:hover {
    cursor: pointer;
    border: 1px solid #cccbbc;
}