.registerBox {
    width: 480px;
    margin: 0 auto;
    box-shadow: #ffe3ba 2px 2px 7px 3px;
    padding: 20px;
}
@media only screen and (max-width: 760px) {
    .registerBox {
      width: 80%;
    }
}