.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#loader .one{
  z-index: 2;
  background-color: red;
  -webkit-animation-delay: -2s;
}
#loader .two{
  z-index: 1;
  background-color: green;
  -webkit-animation-delay: -1s;
}
#loader .three{
  z-index: 0;
  background-color: blue;
}
#loader .four{
  z-index: 0;
  background-color: orange;
   -webkit-animation-delay: 1s;
}
#loader .five{
  z-index: 0;
  background-color: aqua;
   -webkit-animation-delay: 2s;
}
#loader .six{
  z-index: 0;
  background-color: magenta;
   -webkit-animation-delay: 3s;
}
#loader .seven{
  z-index: 0;
  background-color: lime;
   -webkit-animation-delay: 4s;
}
#loader div{
  width: 0;
  height: 10px;
  position: absolute;
  display: inline;
  left: 50%;
  -webkit-animation: toploader 7s infinite linear;
}
#loader{
  position: relative;
  margin: 0;
  padding: 0;
}
@keyframes toploader {
  from {
    left: 50%; 
    width: 0;
    z-index:100;
  }
  14.28% 
  {
    left: 0; 
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0; 
    width: 100%;
  }
}

.listItem {
  width: fit-content;
  list-style: none;
  text-align: left;
  border: 1px solid #dadada;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 10px 1px #c8c8ca;
}
.listContentBox h4 {
  text-decoration: underline;
  line-height: 2px;
}